@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
body {
	text-align: center;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	font-style: oblique; 
}
hr {
	width:60%;
}

#logo {
	width: 100%;
	max-width: 1800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#logo img {
	width: 100%;
}
a:active, a:link {
	color: #990000;
	text-decoration: none;
}
a:visited {
	color: #FFCC00;
}
.navlist li {
	display: inline;
	padding: .2em;
}
#navbar {
	list-style: none;
	margin: 0;
	padding:; 0;
	text-transform: uppercase;
	position: relative;
}
#slogan {
	font-style: italic;
}
#background {
	text-align: center;
}
#listinfo {
	margin: auto;
	width: 25%;
	border: 3px solid #990000;
	padding: 10px;
}
#infolist {
	font-weight: 900;
}
#list {
	list-style-position: inside;
	list-style-type: disc;
	text-indent: -1em;
	padding-left: 1em;
	font-family: 'Playfair Display', serif;
